* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

body {
    background: 
        /* Vordergrund-Layer */
        linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        /* Hintergrund-Gradient */
        linear-gradient(116.82deg, #FF9898 , #A17093, #815A9F, #7C6B9D, #7CD8CD);
    color: white;
    padding: 1%;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; /* Mindesthöhe auf die volle Bildschirmhöhe setzen (Viewport Height) */
    margin: 0;
}

h1 {
    text-align: center;
    text-shadow: #1e1e1e 5px 5px 5px;
}

.background {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
    width: 900px;
    padding: 25px; /*Möglicherweise noch anpassen!*/
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(20, 20, 20, 0.5); /*Schatten hinzufügen*/
}

.size {
    width: 130px;
    height: 33px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: min-content; 
    width: 200px;
    background-color: #2B2B2B;
    border-radius: 15px;
}

.navigation p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    text-shadow: #1e1e1e 5px 5px 5px;
}

.navigation button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    transition: filter 0.2s; /* Filter-Übergangseffekt */
    box-shadow: 0 10px 20px rgba(20, 20, 20, 0.305);
}

.navigation button:hover {
    filter: brightness(80%);
}

.navigation button:active {
    filter: brightness(30%);
}

.color {
    width: 130px;
    box-shadow: 0 10px 20px rgba(20, 20, 20, 0.305);
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a65;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    margin-bottom: 30px;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 150px;
}

.resize-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1a1a1a65;
    border-radius: 10px;
    padding: 8px;
}

.resize-container button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: filter 0.2s; /* Filter-Übergangseffekt */
    background-color:#7e7e7e;
    color: white;
}

img.Logo {
    margin-top: -25px;
    margin-bottom: 10px;
} 

Button.reset {
    background-color: #ad4747;
    color: #ffffff;
    width: 200px;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(20, 20, 20, 0.305);
}

Button.erase {
    background-color: #D16767;
    color: #ffffff;
    width: 50px;
    height: 50px;
    box-shadow: 0 10px 20px rgba(20, 20, 20, 0.305);
}

Button.pen {
    background-color: #8EC2BC;
    color: #ffffff;
    width: 50px;
    height: 50px;
    box-shadow: 0 10px 20px rgba(20, 20, 20, 0.305);
}

canvas {
    height: 600px;
    width: 600px;
    background-color: #2B2B2B; 
    border-radius: 15px;
    padding: 20px;
}

.info {
    position: absolute;
    text-align: center;  
    font-size: small;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.411);
    box-shadow: 0 10px 20px rgba(20, 20, 20, 0.5);
    border-radius: 15px;
    margin-top: 780px;
    width: 950px;
}

.info ul {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Liste auf die breite der Box verteilen */
    align-items: center;
    width: 880px;
    background-color: #2B2B2B;
    margin: 12px;
    border-radius: 15px;
    padding: 5px;
    margin-left: 30px;
}